* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

#container{
    display: flex;
    height: 100vh; 
}
  
  #navigation{
    width: 30vw; 
    background-color: #f4f4f4;
}
  
  #main-content{
    width: 70vw;
    background-color: #ffffff;
}
  